.nav {
  padding: 20px;
  width: 100vw;
  background-color: rgb(162, 168, 243);
}

.navLink {
  font-size: 28px;
  font-weight: 700;
}

.navLink,
.activeLink:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  font-size: 28px;
  font-weight: 700;
  color: blue;
}
