.nav {
  margin-bottom: 20px;
  padding: 20px;
  width: 100vw;
  background-color: rgba(166, 246, 252, 0.651);
}

.navLink {
  font-size: 28px;
  font-weight: 700;
}

.navLink,
.activeLink:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  font-size: 28px;
  font-weight: 700;
  color: rgba(10, 69, 231, 0.966);
}
